{% extends 'invoices/base_view.html' %}

{{ form.media }} 
{% block content %}
<div class="container">
	<form class="form-horizontal" method="POST" action="">
		{% csrf_token %}
		<legend>Work Details</legend>
		{{ expense_formset.management_form }}
		<div id="form_set">
		    {% for form in expense_formset %}
		        <table class='no_error'>
		        	<thead>
		            	{{ form.as_table }}
		            </thead>
		        </table>
		    {% endfor %}
		</div>
		<input type="button" value="Add More" id="add_more">
		<div id="empty_form" style="display:none">
		    <table class='no_error'>
		        {{ expense_formset.empty_form.as_table }}
		    </table>
		</div>
		
		<input class="btn btn-primary btn-sm" type="submit" name="create" value="Create">
	</form>
</div>
{% endblock %}

{% block scripts %}
	<script>
		$('#add_more').click(function() {
		        var form_idx = $('#id_form-TOTAL_FORMS').val();
		        if (form_idx != 0) {
		        	$('#form_set').append('<hr>');
		        }

		        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
		        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
	    });
	</script>
	
{% endblock %}