{% extends 'invoices/base_view.html' %}
{% block content %}
	{% include "invoices/charts/yearly_summary_div.html" %}
	<div class="container">
		<form method="post">
			{% csrf_token %}
			{% load bootstrap4 %}
			{% bootstrap_css %}
			{% bootstrap_javascript jquery='full' %}
			{{ date_select_form.media }}
			<div class="container">
				<div class="row">
					<div class="col">
						<label>From date</label>
						{{ date_select_form.from_date }}
					</div>
					<div class="col">
						<label>To date</label>
						{{ date_select_form.to_date }}
					</div>
				</div>
				<input class="btn btn-outline-success" style="margin-top: 20px;" type="submit" name="submit" value="Submit">
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	{% include "invoices/charts/yearly_summary_script.html" with invoices=invoices expenses=expenses totals=totals year=year %}
{% endblock %}