<script>
	var ctx = document.getElementById("myChart").getContext('2d')

	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
	        datasets: [{
	            label: 'Invoice Amount',
	            data: {{ invoices }},
	            stack: 'Stack 0',
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	            ],
	            borderWidth: 1
	        },
	        {
	            label: 'Expense Amount',
	            data: {{ expenses }},
	            stack: 'Stack 1',
	            backgroundColor: [
	                'rgba(75, 192, 192, 0.2)'
	            ],
	            borderColor: [
	                'rgba(75, 192, 192, 1)'
	            ],
	            borderWidth: 1
	        },
	        {
	            label: 'Total Invoice Amount',
	            data: {{ totals }},
	            stack: 'Stack 2',
	            backgroundColor: [
	                'rgba(153, 102, 255, 0.2)'
	            ],
	            borderColor: [
	                'rgba(153, 102, 255, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	    	legend: {
	    		position: 'right',
	    	},
	    	title: {
	    		display: true,
	    		position: 'top',
	    		text: 'Monthly Breakdown of Billings for {{ year }}',
	    		fontSize: 22
	    	},
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});
</script>